{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0&appId=3706290656326007"
  nonce="NneBdk1d"></script>
  
  <section class="login-section">
  <div class="container">
    <h2>Login to Spoof Solutions</h2>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" class="btn">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Sign up here</a>.</p>
    <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it here</a>.</p>

    <!-- Share links -->
    <div class="share-buttons">
      <button class="share-button" onclick="shareFacebook()">Share on Facebook</button>
      <button class="share-button" onclick="shareTwitter()">Share on Twitter</button>
      <button class="share-button" onclick="shareLinkedIn()">Share on LinkedIn</button>
    </div>

    <!-- Sign in with Google -->
    <div class="google-signin">
      <p>Or sign in with:</p>
      <a href="{% url 'google_login' %}" class="btn-google">Sign in with Google</a>
    </div>
    <div class="fb-login-button" data-width="" data-size="" data-button-type="" data-layout="" data-auto-logout-link="false"
      data-use-continue-as="false">
    </div>
  </div>
</section>

<script>
  function shareFacebook() {
    window.open('https://www.facebook.com/sharer/sharer.php?u=https://example.com', '_blank');
  }

  function shareTwitter() {
    window.open('https://twitter.com/intent/tweet?url=https://example.com', '_blank');
  }

  function shareLinkedIn() {
    window.open('https://www.linkedin.com/shareArticle?url=https://example.com', '_blank');
  }
</script>

<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '{your-app-id}',
      cookie: true,
      xfbml: true,
      version: '{api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

{% endblock %}