/* Common styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header {
    background-color: #FFFFFF; /* White background */
    padding: 10px 0;
    width: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .logo img {
    height: 90px; /* Adjust the logo size */
    width: auto;  /* Ensure the width scales appropriately */
}

.header-right {
    position: relative;
    display: flex;
    align-items: center;
}

.header-right .menu-icon {
    display: none;
    cursor: pointer;
}

.header-right .menu-icon i {
    font-size: 30px; /* Adjust the size of the menu icon */
    color: #5AA9E6; /* Powder blue */
}

.header-right nav {
    display: flex;
}

.header-right nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.header-right nav ul li a {
    color: #5AA9E6; /* Powder blue */
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s;
}

.header-right nav ul li a:hover {
    color: #4A91C8; /* Darker powder blue */
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Specifies normal weight */
}

footer {
    background-color: #5AA9E6; /* Powder blue */
    color: #FFFFFF; /* White */
    padding: 20px 0;
    text-align: center;
}

/* Mobile styles */
@media (max-width: 768px) {
    .header-right nav {
        display: none;
    }
    .header-right .menu-icon {
        display: block;
    }
}

/* Accordion styles */
.accordion-header {
    background-color: #5AA9E6;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    outline: none;
    border: none;
    width: 100%;
    transition: background-color 0.3s ease;
}

.accordion-header.active {
    background-color: #4A91C8;
}

.accordion-content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ccc;
}
