/* Common styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #FFFFFF; /* White background */
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    max-height: 50px; /* Adjust the logo size */
}

.menu-icon img {
    width: 30px; /* Adjust as needed */
    cursor: pointer;
}

/* Basic styles */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Specifies normal weight */
    margin: 0;
    padding: 0;
}

footer {
    background-color: #5AA9E6; /* Powder blue */
    color: #FFFFFF; /* White */
    padding: 20px 0;
    text-align: center;
}

/* Page-specific styles */
.login-section, .register-section, .home-section, .phone-input-section {
    padding: 30px 0;
    text-align: center;
}

.login-section h2, .register-section h2, .phone-input-section h2, .home-section h2 {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.phone-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn {
    display: inline-block;
    background-color: #5AA9E6; /* Powder blue */
    color: #FFFFFF; /* White */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4A91C8; /* Darker powder blue */
}

p {
    margin-top: 20px;
}

p a {
    color: #5AA9E6; /* Powder blue */
}

/* Home page specific styles */
.home-section h2, .home-section h3, .home-section h4, .home-section p {
    color: #00274C; /* Use your desired color */
}

.home-section h4 {
    color: #5AA9E6; /* Use the powder blue from your logo */
}

/* Floating share button styles */
.floating-share {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 999;
}

.floating-share .share-btn {
    display: block;
    background-color: #5AA9E6; /* Powder blue */
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.floating-share .share-btn:hover {
    background-color: #4A91C8; /* Darker powder blue */
}

/* Media queries */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }
}
