{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SPOOFED!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <div class="container header-content">
            <div class="header-left">
                <a href="/" class="logo"><img src="{% static 'images/FullLogo_Transparent_NoBuffer.png' %}" alt="Logo"></a>
            </div>
            <div class="header-right">
                <div class="menu-icon">
                    <a href="{% url 'navigation' %}">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2024 Spoofed Solutions. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>