{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> <!-- Ensure charset is within the head -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Ensure viewport is within the head -->
    <title>{% block title %}SPOOFED!{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon-16x16.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <div class="container header-content">
            <div class="header-left">
                <a href="/" class="logo" title="Home">
                    <img src="{% static 'images/FullLogo_Transparent_NoBuffer.png' %}" alt="Logo">
                </a>
            </div>
            <div class="header-right">
                <div class="menu-icon">
                    <a href="{% url 'navigation' %}" title="Navigation Menu">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <nav>
                    <ul class="main-nav" id="nav-menu">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'features' %}">Features</a></li>
                        <li><a href="{% url 'pricing' %}">Pricing</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'communicate' %}">Spoof Call</a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="logout-link-style">Logout</button>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Spoof Solutions. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/float-share-links.js' %}"></script>
        <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '3706290656326007',
                cookie: true,
                xfbml: true,
                version: 'v20.0'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>

</html>