{% extends 'base.html' %}

{% load static %}

{% block title %}Communicate{% endblock %}

{% block content %}
<section class="communicate-section">
<div class="container">
    <h2>Make Calls</h2>
    <p>Enter the number to call, the number the recipient see on there phone and last your phone number. Before you click the "MAKE CALL" button check out the options to change your voice to man or woman or record the call or both</p>
    <form id="phoneForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="number_to_call" class="form-label">NUMBER TO CALL:</label>
            <input type="tel" id="number_to_call" name="number_to_call" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="my_number" class="form-label">MY NUMBER</label>
            <input type="tel" id="my_number" name="my_number" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="host_number" class="form-label">HOST NUMBER</label>
            <input type="tel" id="host_number" name="host_number" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Start Call</button>
    </form>
    <audio id="remoteAudio" autoplay></audio>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sip.js/0.20.0/sip.min.js"></script>
<script src="{% static 'js/softphone.js' %}"></script>
{% endblock %}