{% extends "base.html" %}

{% block title %}
Navigation
{% endblock %}

{% block content %}

<section class="nav-section">
    <div class="container">
        <a href="{% url 'home' %}">
            <div class="feature-block" id="feature1">
                <h2>Home</h2>
                <p>Welcome to Spoofed Solutions. Explore our features and start spoofing calls today.</p>
            </div>
        </a>

        <a href="{% url 'features' %}">
            <div class="feature-block" id="feature2">
                <h2>Features</h2>
                <p>Discover the amazing features of Spoofed Solutions that help you spoof calls easily and securely.</p>
            </div>
        </a>

        <a href="{% url 'communicate' %}">
            <div class="feature-block" id="feature3">
                <h2>Spoof Call</h2>
                <p>Enter your phone number to start making spoofed calls with our service.</p>
            </div>
        </a>

        <a href="{% url 'pricing' %}">
            <div class="feature-block" id="feature4">
                <h2>Pricing</h2>
                <p>Check out our pricing plans and choose the one that best fits your needs.</p>
            </div>
        </a>

        <a href="{% url 'login' %}">
            <div class="feature-block" id="feature5">
                <h2>Login</h2>
                <p>Login to your account to access all features and manage your spoofed calls.</p>
            </div>
        </a>
    </div>
</section>

<style>
    .nav-section a {
        text-decoration: none;
        /* Remove underline from links */
    }
</style>

<script>
    document.getElementById('nav-toggle').addEventListener('click', function () {
        document.getElementById('nav-menu').classList.toggle('show-menu');
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const menuIcon = document.querySelector('.menu-icon');
        const navMenu = document.querySelector('.nav-menu'); //.header-right nav ul');

        menuIcon.addEventListener('click', function () {
            navMenu.classList.toggle('show-menu');
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const options = {
            threshold: 0.5
        };

        const callback = (entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('rotate');
                } else {
                    entry.target.classList.remove('rotate');
                }
            });
        };

        const observer = new IntersectionObserver(callback, options);

        document.querySelectorAll('.nav-section').forEach(block => {
            observer.observe(block);
        });
    });
</script>

{% endblock %}