{% extends "base.html" %}

{% block title %}
Navigation
{% endblock %}

{% block content %}
<section class="navigation-section">
    <div class="container">
        <nav class="main-nav">
            <!-- <div class="nav-header">
                <a href="{% url 'home' %}" class="nav-logo">Spoofed Solutions</a>
                <button class="nav-toggle" id="nav-toggle" aria-label="Toggle navigation">
                    <span class="nav-toggle-icon"></span>
                </button>
            </div> -->
            <ul class="nav-menu" id="nav-menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'features' %}">Features</a></li>
                <li><a href="{% url 'phone_input' %}">Spoof Call</a></li>
                <li><a href="{% url 'pricing' %}">Pricing</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <!-- Uncomment the following line if you want to include the demo button -->
                <!-- <li><a href="{% url 'register' %}" class="btn demo">Get a Demo</a></li> -->
                <!-- <li><a href="{% url 'register' %}" class="btn get-started">Get Started</a></li> -->
            </ul>
        </nav>
    </div>
</section>

<script>
    document.getElementById('nav-toggle').addEventListener('click', function () {
        document.getElementById('nav-menu').classList.toggle('show-menu');
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const menuIcon = document.querySelector('.menu-icon');
        const navMenu = document.querySelector('.header-right nav ul');

        menuIcon.addEventListener('click', function () {
            navMenu.classList.toggle('show-menu');
        });
    });
</script>

{% endblock %}