{% extends 'base.html' %}

{% loaad static %}

{% block title %}Terms and Conditions{% endblock %}

{% block content %}

<section class="policy-section">
    <div class="container">
        <h2>Spoof Solutions Privacy Policy</h2>

        <p>Spoof Solutions knows that you care about how your information is used and shared, and we appreciate your
            trust that we will do so carefully and sensibly. We take your privacy seriously. You can learn more about
            our Privacy Policy below. By visiting our website or using our Service, including our mobile app, you are
            consenting to the practices described in this Privacy Policy (this “Policy”).</p>
        <div class="policy-content"></div>
        <h2>BRIEF OVERVIEW</h2>

        <h3>Information We Collect</h3>
        <p>We may collect your information in connection with your registration, use, purchase, or inquiries on or about
            our websites. We are the data controller for this information.</p>

        <h3>How We Use Your Information</h3>
        <p>We may use your information to provide services, respond to and fulfill your requests, operate and market our
            Service, comply with applicable law, and as otherwise permitted by applicable law.</p>

        <h3>How We Share Your Information</h3>
        <p>We may share your information with our affiliates, subsidiaries, business partners, service providers, and
            other third parties to provide our Service and fulfill your requests, and as otherwise consented to by you
            or as permitted by applicable law. Under certain circumstances, we act as the data processor of your
            information.</p>

        <h3>Security of Your Information</h3>
        <p>We maintain commercially reasonable technical, administrative, and physical security measures designed to
            protect your information.</p>

        <h3>Cookies and Other Tracking Technologies</h3>
        <p>We may use cookies and similar technologies to help provide our Service, offer you a more personalized user
            experience, and market products and services to you.</p>

        <h3>Your Choices</h3>
        <p>You can opt out of receiving marketing communications from us, change your communication preferences, update
            your data sharing consents, and opt out of certain sharing of your information with third parties.</p>

        <h3>Access, Correction, and Erasure of Your Information</h3>
        <p>We provide you the opportunity to access, correct, update, and request the erasure of your information.</p>

        <h3>International Transfers</h3>
        <p>If you are using the Service outside the U.S., we may transfer your information outside of your home country,
            to the U.S. or a third country. To protect your information, any such international transfers will be made
            in accordance with applicable law.</p>

        <h3>Links to Other Websites</h3>
        <p>Our websites and Service may contain links to other websites or services that are not owned or controlled by
            Spoof Solutions, including links to websites of our advertisers, sponsors, and partners.</p>

        <h3>Changes to This Policy</h3>
        <p>You will be notified about any material changes to this Policy via a posting on our app and website, and as
            otherwise required by applicable law.</p>

        <h3>Contact Us</h3>
        <p>If you have questions about this Policy, please contact us.</p>

        <h3>Notices to Residents of Certain Jurisdictions</h3>
        <p>Residents of certain countries may have additional rights.</p>

        <h2>What Does This Privacy Policy Cover?</h2>
        <p>This policy covers how Spoof Solutions treats personal information that Spoof Solutions collects and
            receives, including via all related websites, networks, embeddable widgets, downloadable software, and
            mobile applications (including tablet applications), and other services provided by us and on which a link
            to this Policy is displayed (collectively, our “Service”). This includes information related to your past
            use of Spoof Solutions products and services, and information about you that is personally identifiable,
            such as your name, address, email address, IP address, and phone number. This Privacy Policy, however, does
            not apply to the practices of companies that are not affiliated with Spoof Solutions.</p>

        <h2>What Information Do We Collect?</h2>
        <p>We generally act as the data controller of your information. We collect the following types of information:
        </p>

        <h3>Information You Provide</h3>
        <p>When you register for or use the Service, Spoof Solutions collects what is generally called “personally
            identifiable information,” “personal information,” or “personal data.” All these terms refer to information
            that specifically relates to or identifies a particular individual. Personal information also includes
            information that, when linked to other information, identifies a specific individual. When you register, we
            ask for a limited amount of personal information, including but not limited to, your phone number and
            payment information. When you sign into our Service, you are not anonymous to us. Spoof Solutions also
            collects information about your transactions with us, including information about your use of our Service.
        </p>

        <h3>Cookies Information</h3>
        <p>When you use the Service, we may send one or more cookies – small text files containing a string of
            alphanumeric characters – to your device. We may use both session cookies and persistent cookies. A session
            cookie disappears after you close your browser. A persistent cookie remains after you close your browser and
            may be used by your browser on subsequent visits to the Service. Consult your device's web browser “Help"
            file to learn the proper way to modify your cookie settings. Please note that if you delete or choose not to
            accept cookies from the Service, you may not be able to utilize the features of the Service to their fullest
            potential.</p>

        <h3>Automatically Collected Information</h3>
        <p>If you consent, when you use the Service, we may automatically record certain information from your device by
            using various types of technology, including “clear gifs" or APIs. This “automatically collected"
            information may include your IP address or other device address or ID, web browser and/or device type, the
            web pages or sites that you visit just before or just after you use the Service, the pages or other content
            you view or otherwise interact with on the Service, and the dates and times that you visit, access, or use
            the Service. We also may use these technologies to collect information regarding your interaction with email
            messages, such as whether you opened, clicked on, or forwarded a message. This information is gathered from
            all users.</p>

        <h3>Location Information</h3>
        <p>If you use our Service, we may receive your generic location (such as city or neighborhood) or, with your
            consent, precise geographic location data from your mobile device when the app is running and when it is not
            running. We may, for example, receive this information when you are in proximity to certain beacons, choose
            to publish your location, or in your comments or communications with us. We may use and store this
            information to provide and improve features of our Service, for example, to tailor our Service in order to
            better facilitate your requests and to provide you more relevant information about callers.</p>

        <h3>Integrated Services</h3>
        <p>You may be given the option to access or register for the Service through the use of your username and
            passwords for certain services provided by third parties (each, an “Integrated Service”), such as through
            the use of your Facebook account, or otherwise have the option to authorize an Integrated Service to provide
            personal information or other information to us. By authorizing us to connect with an Integrated Service,
            you authorize us to access and store your personal information that the Integrated Service makes available
            to us, including your name and email address, and to use and disclose such information in accordance with
            this Policy. You should check your privacy settings on each Integrated Service to understand and change the
            information sent to us through each Integrated Service. Please review each Integrated Service’s terms and
            privacy policies carefully before using their services and connecting to our Service.</p>

        <h3>Information from Other Sources</h3>
        <p>We may obtain information, including personal information, from third parties and sources other than the
            Service, such as our partners, advertisers, customers, and Integrated Services. If we combine or associate
            information from other sources with personal information that we collect through the Service, we will treat
            the combined information as personal information in accordance with this Policy.</p>

        <h2>What Are the Legal Bases for Our Collection of Information?</h2>
        <p>We collect and process your personal data using one or more of the following legal grounds:</p>
        <ul>
            <li>Performance of a contract;</li>
            <li>Compliance with a legal obligation;</li>
            <li>Legitimate interest; and</li>
            <li>Your consent.</li>
        </ul>
        
        <h2>How Do We Use the Information We Collect?</h2>
        <p>We use the information we collect in a variety of ways in providing the Service and operating our business, including
            the following:</p>
        <ul>
            <li>We use the information that we collect on the Service to operate, maintain, enhance and provide all features of
                the Service, to provide services and information that you request, to respond to comments and questions, and
                otherwise to provide support to users.</li>
            <li>We use the information that we collect to understand and analyze the usage trends and preferences of our users,
                to improve the Service, and to develop new products, services, features, and functionality.</li>
            <li>We may use your email address or other information we collect (i) to contact you for administrative purposes
                such as customer service, to address intellectual property infringement or other claimed violations of our terms
                of use, or (ii) to send communications, including updates on promotions and events, relating to products and
                services offered by us that are related to the Service. Generally, you have the ability to opt-out of receiving
                any promotional communications as described below under “Your Choices.”</li>
            <li>We may use “cookies” information and “automatically collected” information to: (i) personalize our Service, such
                as remembering your information so that you will not have to re-enter it during your visit or the next time you
                visit the Service; (ii) provide customized advertisements, content, and information; (iii) monitor and analyze
                the effectiveness of the Service; (iv) monitor aggregate website and mobile app usage metrics such as total
                number of visitors and pages viewed; and (v) track your entries, submissions, and status in any promotions or
                other activities on the Service.</li>
        </ul>
        
        <h2>Sharing Or Disclosing Information</h2>
        <p>Information about our customers is an important part of our business. We DO NOT sell customer information. We share
            or disclose customer information only as described below. Except as described in this Policy, we will not disclose
            your information that we collect on the Service to third parties without your consent. We may disclose information
            to third parties if you consent to us doing so, as well as in the following circumstances:</p>
        <ul>
            <li>We work with third-party service providers that provide website, application development, hosting, maintenance,
                data transmission, data processing, and other services for us. These third parties may have access to or process
                your information as part of providing those services for us. However, we limit the personal information provided
                to these service providers to that which is reasonably necessary for them to perform their functions. In
                addition, they agree by contract to maintain the confidentiality of such information.</li>
            <li>We may make certain automatically-collected, aggregated, or non-personally-identifiable information available to
                third parties for various purposes, including (i) monitoring network traffic or activity in order to detect and
                protect you, ourselves, or others from malware, fraud, unlawful uses, or other illegal activity, (ii) compliance
                with various reporting obligations, (iii) for business or marketing purposes, or (iv) to assist such parties in
                understanding our users’ interests, habits, and usage patterns for certain programs, content, services,
                advertisements, promotions, or functionality available through the Service.</li>
            <li>We may share information with third parties for their own marketing purposes, which are subject to the separate
                privacy policies of such third parties. We will do this on the basis of your consent, where required by law, and
                if not required by law, on the basis of our legitimate interests in sharing data with our partners so that we
                can help you see offers and services that are most relevant to you. To learn more about your choices related to
                how we share your information with third parties, please see the Your Choices section below.</li>
            <li>In addition, we have implemented certain Google Analytics features on our website, the app, and the Service.
                Visitors to our websites may opt out of certain types of Google Analytics tracking, customize the Google Display
                Network ads by using the Google Ad Preferences Manager, and learn more about how Google serves ads by viewing
                its Customer Ads Help Center. If you do not wish to participate in Google Analytics, you may also download the
                Google Analytics opt-out browser add-on.</li>
            <li>We may disclose your information if required to do so by law or in the good-faith belief that such action is
                necessary to comply with state or federal laws (such as U.S. copyright law), in response to a court order,
                judicial or other government subpoena or warrant, or to otherwise cooperate with law enforcement or other
                governmental agencies.</li>
            <li>We also reserve the right to disclose your information when we believe, in good faith, that disclosure is
                appropriate or necessary to (i) take precautions against liability, (ii) protect ourselves or others from
                fraudulent, abusive, or unlawful uses or activity, (iii) investigate and defend ourselves against any
                third-party claims or allegations, (iv) protect the security or integrity of the Service or any facilities or
                equipment used to make the Service available, or (v) protect our property or legal rights (including, but not
                limited to, enforcement of our agreements), or the rights, property, or safety of others.</li>
            <li>Information about our users, including personal information, may be disclosed and otherwise transferred to an
                acquirer of Spoof Solutions, or to a successor or assignee as part of any merger, acquisition, debt financing,
                sale of assets, or similar transaction, as well as in the event of insolvency, bankruptcy, or receivership in
                which information is transferred to one or more third parties as one of our business assets. In the event Spoof
                Solutions is acquired by or merged with another company, the terms of this Privacy Policy shall continue to
                apply. In this event, Spoof Solutions will notify you before information about you is transferred and becomes
                subject to a different privacy policy. Other than as set out above, you will receive notice when information
                about you might go to third parties, and you will have an opportunity to choose not to share the information.
                Spoof Solutions also reserves the right to display targeted advertisements based on personal information.</li>
        </ul>
        
        <h2>Information Retention Policy</h2>
        <p>If you hold an account with Spoof Solutions, we do not delete the data in your account – you are responsible for and
            control the time periods for which you retain this data. However, except when we believe we are required to retain
            your personal information by law, beginning on May 25, 2018, we will only retain your personal information for two
            years after we become aware that you have ceased using the Service. We may not know if you have stopped using the
            Service, so we encourage you to contact us at Support@teletechnologies.net if you are no longer using the Service.
            We may retain other information that is not personally identifiable for backups, archiving, prevention of fraud and
            abuse, analytics, or where we otherwise reasonably believe that we have a legitimate interest in doing so.</p>
        
        <h2>Your Rights Under GDPR</h2>
        <p>You may access, change, or delete personal information that you have provided or that we hold about you. If we change
            or delete your personal information, or if you decline to actively share certain personal information with us, we
            may not be able to provide you with the Service or some of the features and functionality of the Service.</p>
        <p>In addition, you may request that we not disclose your personal information to third parties (other than those that
            are acting as our agents to perform tasks related to the Service on our behalf, such as data processors).</p>
        <p>If you receive commercial email from us, you may unsubscribe at any time by following the instructions contained
            within the email. You may also opt-out of receiving commercial email from us, and any other promotional
            communications that we may send to you from time to time, by clicking here.</p>
        <p>Please be aware that if you opt out of receiving commercial email from us or otherwise modify the nature or frequency
            of promotional communications you receive from us, it may take up to ten business days for us to process your
            request, and you may receive promotional communications from us during that period. Additionally, even after you opt
            out of receiving commercial messages from us, you will continue to receive administrative messages from us regarding
            the Service. You may withdraw consent to certain data sharing or usage or exercise any of these rights above by
            sending your request to us by email at Support@teletechnologies.net or by writing to us at the address given at the
            end of this policy.</p>
        <p>You also have the right to data portability. This means that you have the right to receive your personal data in a
            structured, commonly used, and machine-readable format, and that you have the right to transmit that data to another
            controller.</p>
        <p>If you are a user of the Service in the European Union or certain other countries, you have certain additional legal
            rights with regard to your information, including those identified below. Some of these rights may be subject to
            some exceptions or limitations. We will respond to your request to exercise these rights within a reasonable time
            (and in all cases within 30 days of receiving a request):</p>
        <ul>
            <li>The right to object to profiling;</li>
            <li>The right to lodge a complaint with a supervisory authority;</li>
            <li>The right to request and receive an electronic copy of your personal data;</li>
            <li>The right to request that we transmit your personal data directly to another controller;</li>
            <li>The right to be forgotten; and</li>
            <li>The right to have your data erased from our systems.</li>
        </ul>
        
        <h2>Third-Party Services</h2>
        <p>The Service may contain features or links to websites and services provided by third parties. Any information you
            provide on third-party sites or services is provided directly to the operators of such services and is subject to
            those operators’ policies, if any, governing privacy and security, even if accessed through the Service. We are not
            responsible for the content or privacy and security practices and policies of third-party sites or services to which
            links or access are provided through the Service. We encourage you to learn about third parties’ privacy and
            security policies before providing them with information.</p>
        
        <h2>Children</h2>
        <p>Our products and services are intended for adults. Accordingly, we do not knowingly collect, either online or
            offline, personal information from persons under the age of 18. If you are under 18, you may use our website and
            services only with permission and involvement of a parent or guardian.</p>
        
        <h2>Confidentiality and Security</h2>
        <p>We take the confidentiality and security of your information seriously. We limit access to your personal information
            to employees who we believe reasonably need to come into contact with that information to provide products or
            services to you or in order to do their jobs. We have physical, electronic, and procedural safeguards that comply
            with federal regulations to protect personal information about you. We use industry-standard measures to protect
            your information from unauthorized access, maintain data accuracy, and help ensure the appropriate use of your
            information.</p>
        <p>However, please be aware that no data transmission over the Internet or information storage technology can be
            guaranteed to be 100% secure. Therefore, we cannot and do not guarantee the absolute security of any information you
            transmit to us or archive at this site. In the event that we believe that the security of your information in our
            possession or control may have been compromised, we may seek to notify you of that development. If notification is
            appropriate, we will attempt to notify you as promptly as possible under the circumstances, and if we have your
            email address, we may notify you by email. You consent to our use of email as a means of such notification.</p>
        
        <h2>International Users and Data Transfers</h2>
        <p>The Service is hosted in the United States and is intended for visitors located around the world. If you choose to
            use the Service from the European Union or other regions of the world with laws governing data collection and use
            that may differ from U.S. law, then please note that you are transferring your personal information outside of those
            regions to the United States for storage and processing. By providing your personal information on the Service, you
            consent to that transfer, storage, and processing. We may transfer personal data from the EU to the US and other
            countries, some of which have not been determined by the European Commission to have an adequate level of data
            protection. When we engage in such transfers, we use a variety of legal mechanisms, including contracts and written
            assurances from third parties, to help ensure your rights and protections travel with your data. Please contact us
            if you require more information.</p>
        
        <h2>Conclusion</h2>
        <p>We will update this policy from time to time, and will notify you via email and our website or app. For further
            questions, contact us at Support@SpoofSolutions.net.</p>
        
        <h2>Notice to California Users</h2>
        <p>Under California Civil Code Section 1798.83 (known as the “Shine the Light” law), California residents may request
            and obtain from us, once a year and free of charge, information about the personal information (if any) we disclosed
            to third parties for direct marketing purposes in the preceding calendar year. If applicable, this information would
            include a list of the categories of personal information that was shared and the names and addresses of all third
            parties with which we shared information in the immediately preceding calendar year. However, Spoof Solutions does
            not disclose personal information to third parties for direct marketing purposes.</p>
        <p>California residents may also request that we not share their personal information with third parties (whether or not
            for direct marketing purposes). We do not respond to Do Not Track signals.</p>
         </div>
        </div>
    </section>
                
{% endblock %}