<!-- pricing.html -->

{% extends 'base.html' %}

{% block title %}Pricing{% endblock %}

{% block content %}
<section class="pricing-section">
    <div class="container">
        <h2>Our Packages</h2>
        <div class="feature-block" id="feature1">
            <h3>$9.95</h3>
             <ul>
                <li>30 Minutes of Call Time</li>
            </ul>
            <form action="{% url 'select_plan' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="price" value="9.95">
                <button type="submit" class="btn">Choose Plan</button>
            </form>
        </div>

        <div class="feature-block" id="feature2">
            <h3>$19.95</h3>
            <ul>
                <li>60 Minutes of Call Time</li>
            </ul>
            <form action="{% url 'select_plan' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="price" value="19.95">
                <button type="submit" class="btn">Choose Plan</button>
            </form>
        </div>

        <div class="feature-block" id="feature3">
            <h3>$29.95</h3>
            <ul>
                <li>100 Minutes of Call Time</li>
            </ul>
            <form action="{% url 'select_plan' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="price" value="29.95">
                <button type="submit" class="btn">Choose Plan</button>
            </form>
        </div>

        <div class="feature-block" id="feature4">
            <h3>$49.95</h3>
            <ul>
                <li>200 Minutes of Call Time</li>
            </ul>
            <form action="{% url 'select_plan' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="price" value="49.95">
                <button type="submit" class="btn">Choose Plan</button>
            </form>
        </div>

        <div class="feature-block" id="feature5">
            <h3>$99.95</h3>
            <ul>
                <li>400 Minutes of Call Time</li>
            </ul>
            <form action="{% url 'select_plan' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="price" value="99.95">
                <button type="submit" class="btn">Choose Plan</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}