<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment with Stripe</title>
    <script src="https://checkout.stripe.com/checkout.js"></script>
</head>

<body>
    <h1>Payment with Stripe</h1>
    <form action="{% url 'purchase_with_stripe' %}" method="post" id="payment-form">
        {% csrf_token %}
        <button id="checkout-button" type="submit">Pay with Stripe</button>
    </form>
</body>

<script>
    var handler = StripeCheckout.configure({
        // Your Stripe public key
        key: 'pk_test_XXX',
        token: function (token) {
            // You can access the price variable here and use it to
            // create a charge on your server
        }
    });

    document.getElementById('checkout-button').addEventListener('click', function (e) {
        handler.open({
            name: 'Your Site Name',
            description: 'Selected Plan',
            amount: {{ price| floatformat: 2 | cut: "." |default: "0" }}00 // Convert price to cents
        });
    e.preventDefault();
    });
</script>

</html>